@model LoginViewModel
<div id="forgotPassworDiv">
    <div class="loadingImage" id="loading" style="display:none;"><!-- Place at bottom of page --></div>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Email, new { @title = "Email", maxlength = "50", @class = "form-control", id = "forgotpwdEmail", @placeholder = "Email" })
        <span class="error-message">
            @Html.ValidationMessageFor(model => model.Email)
        </span>
        <button class="btn btn-primary" type="submit" value="submit" id="Send">Send</button>
        <div class="clearfix"></div>
        @if (Model.Status != 0)
        {
            <p class="alert-message m-error m-error newerror" id="error">@Model.Message</p>
        }
        else
        {
            <p class="alert-message m-error m-success newerror" id="success">@Model.Message</p>
        }
    </div>
</div>
@section page_scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            @if (Model.Status == 0)
                {
                    <text>
            ClearForgotPasswordForm();
            </text>
                }
        });
    </script>
}